body{
    background-color: #343a40;
}
.mayusculas{
	text-transform:uppercase;
}	

.placa{
    background-color: #fff;
    color: black;
    font-size: 3.5em;
    text-align: center;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    letter-spacing: 3px;
}
.carAtribt{
    font-weight: bolder;
    font-size: 2.2em;
}

.carAtrib{
    font-size: 2.5em;
    text-transform:uppercase;
    letter-spacing: 4px;
}

.weel{
  font-size: 1.5em;
}
