body{
    background-color: #343a40;
}
.mayusculas{
	text-transform:uppercase;
}	

.placa{
    background-color: #fff;
    color: black;
    font-size: 3.5em;
    text-align: center;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    letter-spacing: 3px;
}
.carAtribt{
    font-weight: bolder;
    font-size: 1em;
}

.carAtrib{
    font-size: 2.3em;
    text-transform:uppercase;
    letter-spacing: 4px;
}

.wheel{
  font-size: 1.2em;
  font-weight: bolder;
}
.wheelT{
    background-color: #fff;
    color: #343a40;
    padding: 1px;
    margin-top: 2px;
    
   
}

